<h1> Capstone Project: Battle of the Neighborhoods </h1>

<h2> Introduction/Business Problem </h2>

<b> "Where would you recommend to open an Indian restaurant in New York City?" </b>

The stakeholder wants to open a new Indian restaurant in NYC and asked me this question.
He explains the customer's point of view that the location should be popular and there shouldn't be too many Indian restaurants already present in the vicinity. The Indian restaurant being launched would be a fusion of the different regional cuisines in India so would stand out, so all the attention should be on localities lacking Indian restaurants. Rental price is not a concern to the stakeholder, as well as how good the existing restaurants are as the stakeholder is confident of his food quality.

I need to pick a list of locations suitable for this.

<h2>Data</h2>

Neighborhood has a total of 5 boroughs and 306 neighborhoods. In order to segement the neighborhoods and explore them, we will essentially need a dataset that contains the 5 boroughs and the neighborhoods that exist in each borough as well as the the latitude and logitude coordinates of each neighborhood.

Luckily, this dataset exists for free on the web. Feel free to try to find this dataset on your own, but here is the link to the dataset: https://geo.nyu.edu/catalog/nyu_2451_34572

In [10]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

<b>Let us load and explore the data</b>

In [11]:
import json
import pandas as pd
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [18]:
#newyork_data

In [13]:
neighborhoods_data = newyork_data['features']

<b>Transforming the data into a Pandas dataframe</b>

In [14]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [15]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [16]:
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [17]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 5 boroughs and 306 neighborhoods.